<div class="card">
  <div class="card-content">
    <figure class="image is-128x128 is-center">
      <img src="src/assets/img/users/round_user_11.PNG" alt="User Photo">
    </figure>
    <p><a>@johnsmith</a></p>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <aside class="menu">
      <p class="menu-label">NAVIGATION</p>
      <ul class="menu-list">
        <li><a routerLinkActive="is-active" [routerLinkActiveOptions] = "{exact: true}" [routerLink]="['/']">Dashboard</a></li>
        <li><a routerLinkActive="is-active" [routerLink]="['/messages']">Messages</a></li>
        <li><a routerLinkActive="is-active" [routerLink]="['/people']">People</a></li>
        <li><a routerLinkActive="is-active" [routerLink]="['/paths']">Paths</a></li>
        <li><a routerLinkActive="is-active" [routerLink]="['/pipeline']">Pipeline</a></li>
      </ul>
    </aside>
  </div>
</div>
<div class="card">
  <div class="card-content">
    <aside class="menu">
      <p class="menu-label">
        Account
      </p>
      <ul class="menu-list">
        <li><a>Settings</a></li>
        <li><a>Subscriptions</a></li>
      </ul>
    </aside>
  </div>
</div>