<div class="card">
  <div class="card-content">
    <section id=timeline>
      <h1>Pipeline | ABC | Details</h1>
      <p class="leader">Clever pipeline description</p>
      <div class="demo-card-wrapper">
        <div class="demo-card demo-card--step1">
          <div class="head">
            <div class="number-box">
              <span>01</span>
            </div>
            <h2><span class="small">Subtitle</span> ITEM 1</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium
              odio dolorum laboriosam.</p>
          </div>
        </div>

        <div class="demo-card demo-card--step2">
          <div class="head">
            <div class="number-box">
              <span>02</span>
            </div>
            <h2><span class="small">Subtitle</span> ITEM 2</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium
              odio dolorum laboriosam.</p>
          </div>
        </div>

        <div class="demo-card demo-card--step3">
          <div class="head">
            <div class="number-box">
              <span>03</span>
            </div>
            <h2><span class="small">Subtitle</span> ITEM 3</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium
              odio dolorum laboriosam.</p>
          </div>
        </div>

        <div class="demo-card demo-card--step4">
          <div class="head">
            <div class="number-box">
              <span>04</span>
            </div>
            <h2><span class="small">Subtitle</span> ITEM 4</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium
              odio dolorum laboriosam.</p>
          </div>
        </div>

        <div class="demo-card demo-card--step5">
          <div class="head">
            <div class="number-box">
              <span>05</span>
            </div>
            <h2><span class="small">Subtitle</span> ITEM 5</h2>
          </div>
          <div class="body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium
              odio dolorum laboriosam.</p>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>
<br>
<div class="block">
  <a class="button is-primary">New Milestone +</a>
</div>