<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
      </a>
      <a class="nav-item is-tab is-hidden-mobile is-active">Home</a>
      <a class="nav-item is-tab is-hidden-mobile">Messages</a>
      <a class="nav-item is-tab is-hidden-mobile">People</a>
      <a class="nav-item is-tab is-hidden-mobile">Paths</a>
      <a class="nav-item is-tab is-hidden-mobile">Pipeline</a>
    </div>
    <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
      <a class="nav-item is-tab is-hidden-tablet">Messages</a>
      <a class="nav-item is-tab is-hidden-tablet">People</a>
      <a class="nav-item is-tab is-hidden-tablet">Paths</a>
      <a class="nav-item is-tab is-hidden-tablet">Pipeline</a>
      <a class="nav-item is-tab">
        <figure class="image is-16x16" style="margin-right: 8px;">
          <img src="http://bulma.io/images/jgthms.png">
        </figure> Account
      </a>
      <a class="nav-item is-tab">Log out</a>
    </div>
  </div>
  </nav>