<div class="columns">
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Favorite Contacts
        </p>
        <a class="card-header-icon">
          <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-12">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          All Contacts
        </p>
        <a class="card-header-icon">
          <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          <div class="columns">
            <div class="column has-text-centered">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_20.PNG" alt="User Photo">
              </figure>
              <a>John D</a>
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_21.PNG" alt="User Photo">
              </figure>
              Jack D
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_22.PNG" alt="User Photo">
              </figure>
              Mack D
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_23.PNG" alt="User Photo">
              </figure>
              Jim D
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_21.PNG" alt="User Photo">
              </figure>
              Anon D
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_22.PNG" alt="User Photo">
              </figure>
              Bill M
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_23.PNG" alt="User Photo">
              </figure>
              Bull S
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_21.PNG" alt="User Photo">
              </figure>
              Mandy M
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_22.PNG" alt="User Photo">
              </figure>
              Jill U
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_20.PNG" alt="User Photo">
              </figure>
              Jack U
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_21.PNG" alt="User Photo">
              </figure>
              Mike M
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_23.PNG" alt="User Photo">
              </figure>
              Dick D
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>