<div class="columns">
  <div class="column">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Favorite Contacts
        </p>
        <a class="card-header-icon">
          <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="columns">
  <div class="column is-12">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          All Contacts
        </p>
        <a class="card-header-icon">
          <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          <div class="columns">
            <div class="column has-text-centered">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_20.PNG" alt="User Photo">
              </figure>
              <a routerLinkActive="is-active" [routerLink]="['/people/profile']">John D</a>
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_21.PNG" alt="User Photo">
              </figure>
              Jack D
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_22.PNG" alt="User Photo">
              </figure>
              Mack D
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_23.PNG" alt="User Photo">
              </figure>
              Jim D
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_21.PNG" alt="User Photo">
              </figure>
              Anon D
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_22.PNG" alt="User Photo">
              </figure>
              Bill M
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_23.PNG" alt="User Photo">
              </figure>
              Bull S
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_21.PNG" alt="User Photo">
              </figure>
              Mandy M
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_22.PNG" alt="User Photo">
              </figure>
              Jill U
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_20.PNG" alt="User Photo">
              </figure>
              Jack U
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_21.PNG" alt="User Photo">
              </figure>
              Mike M
            </div>
            <div class="column">
              <figure class="image is 96-x96">
                <img src="src/assets/img/users/user_large_23.PNG" alt="User Photo">
              </figure>
              Dick D
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="block">
  <a class="button is-primary modal-button" (click)="clickButton()">Add Person +</a>
</div> 

<popup #popup1>
  <div class="field">
    <label class="label">Name</label>
    <p class="control">
      <input class="input" type="text" placeholder="Text input" value="Jenny">
    </p>
  </div>
  <div class="field">
    <label class="label">E-mail</label>
    <p class="control has-icon has-icon-right">
      <input class="input is-danger" type="text" placeholder="Email input" value="Jenny@mail.com">
      <span class="icon is-small">
      <i class="fa fa-warning"></i>
    </span>
    </p>
  </div>
  <div class="field">
    <label class="label">Company Information</label>
    <p class="control has-icon has-icon-right">
      <input class="input is-danger" type="text" placeholder="Text input" value="ABC LLC">
      <span class="icon is-small">
      <i class="fa fa-warning"></i>
    </span>
    </p>
  </div>
  <div class="field">
    <label class="label">Number</label>
    <p class="control has-icon has-icon-right">
      <input class="input is-success" type="text" placeholder="Number input" value="867-5309">
      <span class="icon is-small">
      <i class="fa fa-check"></i>
    </span>
    </p>
    <p class="help is-success">Leave for verification</p>
  </div>
  <div class="field">
    <label class="label">Contact Type</label>
    <p class="control">
      <span class="select">
      <select>
        <option>Select dropdown</option>
        <option>Lead</option>
        <option>Colleague</option>
        <option>Sales</option>
      </select>
    </span>
    </p>
  </div>
  <div class="field">
    <label class="label">Notes</label>
    <p class="control">
      <textarea class="textarea" placeholder="Write A Note"></textarea>
    </p>
  </div>

  <div class="field">
    <p class="control">
      <label class="checkbox">
      <input type="checkbox">
      Add to favorites
    </label>
    </p>
  </div>
</popup>



