<div class="field">
  <p class="control has-icon">
    <input class="input" type="email" placeholder="your@email.com">
    <span class="icon is-small">
      <i class="fa fa-envelope"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icon">
    <input class="input" type="password" placeholder="Password">
    <span class="icon is-small">
      <i class="fa fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-primary">
      Login
    </button>
  </p>
  <span>| <a>Reset</a></span>
</div>